<% if current_user %>
  <h2>What would you like to do?</h2>
  <ul>
    <section class="sheet">
      <li>
        <a href="/users/new" id="show-new-user-form">Add New User</a>
  		  <%= erb :'users/_new', layout: false %>
      </li>
    </section>
    <section class="sheet">
  	  <li>
        <a href="/admin/delete_user" id="show-edit-user-form">Edit Users</a>
        <%= erb :'users/_update', layout: false, locals: {users: @users, trips: @trips}%>
      </li>

    </section>
    <section class="sheet">
      <li>
        <a href="/admin/add_trip" id='show-new-trip-form'>Add a new trip</a>
        <%= erb :'trips/_new', layout: false %>
      </li>
    </section>
    <section class="sheet">
  	  <li>
        <a href="/admin/update_article" id="show-articles-index">Update an article</a>
        <%= erb :'articles/_index', layout: false, locals: {articles: @articles} %>
      </li>
    </section>
  </ul>
<% else %>
  <%= erb :'admins/_login', layout: false %>
<% end %>
