<%if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%=error%></li>
  <%end %>
  </ul>
<%end %>

<div id="edit-article-form">
    <form action='/articles/<%= article.id %>' method='POST'>
      <input type="hidden" name='_method' value='put'>
      <input type='text' value='<%= article.title %>' name='title'><br>
      <textarea name='body' cols=50 rows=10><%= article.body %></textarea><br>
      <input type='submit' value='save changes'>
    </form>

    <form action='/articles/<%= article.id %>'>
      <input type="hidden" name='_method' value='delete'>
      <input type='submit' value='delete article'>
    </form>
</div>
