<script type="text/javascript" src="scripts/jquery.cycle.all.js"></script>
<script src="/js/front.js"></script>


<div id="slideshow">
  <img src="/imgs/01.png">
  <img src="/imgs/02.png">
  <img src="/imgs/03.png">
  <img src="/imgs/04.png">
  <img src="/imgs/05.png">
  <img src="/imgs/06.png">
</div>
<section>
  <nav>
    <a href="#trip">Trip</a>
    <a href="#about">About</a>
    <a href="#schedule">Schedule</a>
    <a href="#contact">Contact</a>
  <% if current_user %>
    <a href="prep">Preparation</a>
  <% else %>
    <a href="/login" id="login">Login</a>
  <% end %>
  </nav>
  <div class="login-container">
    <%if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%=error%>
      <%end %>
    <%end %>
    <form action='/login' method='post' name='login_form' id='login'>
      <input type='text' placeholder='Email Address' name='email'>
      <button type='submit'>Log In</button>
    </form>
  </div>
  <div id="trip" class="text">
    <h2><%= @trip.title %></h2>
    <div><%= @trip.body %></div>
  </div>

  <div id="about" class="text">
    <h2><%= @about.title %></h2>
    <div><%= @about.body %></div>
  </div>

  <div id="schedule" class="text">
    <h2>Schedule</h2>
  </div>

  <div id="contact" class="text">
    <h2><%= @contact.title %></h2>
    <div><%= @contact.body %></div>
  </div>


  <footer>
    &copy Daniel Woznicki 2015
  </footer>
</section>
